/* 最外层div */
.express-selector {
	position: absolute;
	z-index: 100;
	font-size: small;
	width: 1px;
	height: 1px;
}

.express-selector table {
	border: 1px solid #ccc;
	background: #fff;
}

.express-selector table td, .express-selector table th.last {
	padding: 3px 5px;
	white-space: nowrap;
}

/* 更多 和 常用 */
.express-selector table .last {
	text-align: right;
	color: #67A1E2;
}

/* 鼠标放上时，手形并反白 */
.express-selector table .express-hover {
	cursor: pointer;
	background: #67A1E2;
	color: #fff;
}